body {
    min-height: 100vh;
    background: url('https://s25.postimg.org/x6ooqtwn3/drumkit-background.jpg');
    background-size: cover;
    margin:0;
    font-family: 'Baloo Thambi', cursive;
}

.header{
	padding:10px;
	font-size:50px;
	text-align: center;
	margin:0;
	color:#FFF;
	letter-spacing: 2px;
	background: rgba(255,255,255,0.1);
}

.keyboard {
	padding-top: 180px;
    display: block;
    text-align: center;
}

kbd {
    display: block;
    text-align: center;
    font-size: 40px;
}

.key {
    border: 4px solid black;
    border-radius:5px;
    padding: 15px;
    margin:10px;
    display: inline-block;
    background: rgba(0, 0, 0, 0.4);
    color: #FFF;
    width: 80px;
    transition:all 0.1s;
    text-align: center;
    cursor: context-menu;
    text-shadow: 0 0 5px black;
}

.sound {
    color: yellow;
    letter-spacing:1px;
    text-transform: uppercase;
}

.playing {
  transform:scale(1.1);
  border-color:#ffc600;
  box-shadow: 0 0 80px #ffc600;
}

.footer {
	position:fixed;
	bottom:0;
	left:0;
	width: 100%;
    background: rgba(255,255,255,0.1) none repeat scroll 0 0;
    color: #4fe54d;
    font-family: "PT Sans",sans-serif;
    font-size: 15px;
    font-weight: 800;
    padding: 6px;
}
.footer-contact {
    color: #ed9095;
}

@media (max-width: 766px) {
  .footer{
    min-height: 93px;
  }
}
